$shadow-color: #ced9e0;

.title {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #394b59;

  a {
    font-size: 20px;
    font-weight: bold;
    $color: #0e5a8a;
    color: $color;
    &:hover {
      color: $color;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.controls {
  width: 420px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  & > * {
    width: 100%;
  }

  & > * + * {
    margin-left: 20px;
  }
}

.label {
  display: block;
}

.row {
  // flex-direction: column;
}

.input,
.select {
  display: block;
  padding: 10px;
  border: 1px solid #394b59;
  border-radius: 6px;
  box-shadow: 0 0 0 0 $shadow-color;
  transition: box-shadow 0.08s linear;
  width: 100%;
  height: 46px;
  background: white;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px $shadow-color;
  }
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

.imageContainer {
  max-width: 100%;
  min-width: 380px;
  min-height: 380px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.qr {
  // width: 100%;
}

.notice {
  color: #999;
}
