$shadow-color: #ced9e0;

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    font-size: 20px;
    font-weight: bold;
    $color: #0e5a8a;
    color: $color;
    &:hover {
      color: $color;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.controls {
  width: 420px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;

  & > * {
    width: 100%;
  }

  & > * + * {
    margin-top: 12px;
  }
}

.top {
  margin-top: 10px;
  border-bottom: 1px solid $shadow-color;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.main {
  margin-bottom: 20px;
}

.top,
.main {
  display: flex;
  border-bottom: 1px solid $shadow-color;

  & > :nth-child(1) {
    width: 300px;
    padding: 0 20px;

    border-right: 1px solid $shadow-color;
  }
  & > :nth-child(2) {
    flex: 1;
  }
}

.label {
  display: block;
}

.input,
.select,
.range {
  display: block;
  padding: 10px;
  border: 1px solid #394b59;
  border-radius: 6px;
  box-shadow: 0 0 0 0 $shadow-color;
  transition: box-shadow 0.08s linear;
  width: 100%;
  height: 43px;
  background: white;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px $shadow-color;
  }
}

.range {
  &:focus {
    box-shadow: none;
  }
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}

.imageContainer {
  max-width: 100%;
  min-width: 380px;
  min-height: 380px;
  margin-bottom: 80px;
  padding: 30px;
}

.qr {
  // width: 100%;
}

.notice {
  color: #999;
}

.downloadContainer {
  display: flex;
  justify-content: center;
}

.downloadButton {
  color: inherit;
  font: inherit;
  background-color: #e1e8ed;
  border: 1px solid #bfccd6;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 20px;
  height: 40px;
  margin-top: 40px;
  font-weight: bold;
}
